<footer id="footer" class="footer">
  <div class="footer__background">
    <div class="footer__content">
      <div class="footer__content-inner">
        <img src="images/Logo.png" alt="" class="footer__logo" />
        <ul class="navigation__social footer__social">
          <li class="navigation__social-item footer__social-item">
            <a
              href="#"
              class="navigation__social-link icon-facebook footer__social-link"
            ></a>
          </li>
          <li class="navigation__social-item footer__social-item">
            <a
              href="#"
              class="navigation__social-link icon-twitter footer__social-link"
            >
            </a>
          </li>
          <li class="navigation__social-item footer__social-item">
            <a
              href="#"
              class="navigation__social-link icon-instagram footer__social-link"
            >
            </a>
          </li>
        </ul>
      </div>

      <span class="footer__copyright">Copyrights © 2017 Monticello Group</span>
      <span class="footer__copyright">Made with &#9829; by Ga Huy</span>
    </div>
  </div>
</footer>
