<section class="section-gallery">
  <h2 class="section-gallery__title">gallery</h2>

  <div class="section-gallery__grid">
    <div class="section-gallery__col section-gallery__wrapper">
      <img src="images/gallery-img-1.png" alt="" class="section-gallery__img" />
    </div>

    <div class="section-gallery__col">
      <div class="section-gallery__col--little section-gallery__wrapper">
        <div class="section-gallery__row--margin section-gallery__wrapper">
          <img
            src="images/gallery-img-2.png"
            alt=""
            class="section-gallery__img"
          />
        </div>
        <div class="section-gallery__row section-gallery__wrapper">
          <img
            src="images/gallery-img-3.png"
            alt=""
            class="section-gallery__img"
          />
        </div>
      </div>
      <div class="section-gallery__col--little">
        <div class="section-gallery__row--margin section-gallery__wrapper">
          <img
            src="images/gallery-img-4.png"
            alt=""
            class="section-gallery__img"
          />
        </div>
        <div class="section-gallery__row section-gallery__wrapper">
          <img
            src="images/gallery-img-5.png"
            alt=""
            class="section-gallery__img"
          />
        </div>
      </div>
    </div>
  </div>
  <a href="#/" class="section-gallery__btn button">see more</a>
</section>
