<header id="header" class="header">
  <div class="header__background">
    <div class="header__navigation navigation">
      <div class="navigation__container container">
        <div class="navigation__logo">
          <img class="navigation__img" src="images/Logo.png" alt="" />
        </div>

        <ul class="navigation__menu">
          <li class="navigation__menu-item">
            <span class="navigation__menu-span"></span>
            <a href="#header" class="navigation__menu-link">About Us</a>
          </li>
          <li class="navigation__menu-item">
            <span class="navigation__menu-span"></span>
            <a href="#section-projects" class="navigation__menu-link"
              >projects</a
            >
          </li>
          <li class="navigation__menu-item">
            <span class="navigation__menu-span"></span>
            <a href="#news" class="navigation__menu-link">news</a>
          </li>
          <li class="navigation__menu-item">
            <span class="navigation__menu-span"></span>
            <a href="#" class="navigation__menu-link">contact</a>
          </li>
        </ul>
        <ul class="navigation__social">
          <li class="navigation__social-item">
            <a href="#" class="navigation__social-link icon-facebook"></a>
          </li>
          <li class="navigation__social-item">
            <a href="#" class="navigation__social-link icon-twitter"> </a>
          </li>
          <li class="navigation__social-item">
            <a href="#" class="navigation__social-link icon-instagram"> </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="header__slider slider">
      <div class="slider__slide slider__slide-active">
        <h1 class="slider__title">Simple & mordern</h1>
        <p class="slider__text">We make the world's beautiful every day</p>
      </div>
      <div class="slider__slide">
        <h2 class="slider__title">Trade Center</h2>
        <p class="slider__text">
          Increasing prosperity in our lives can be accomplished by having the
          right frame of mind. The truth is, our thoughts are very powerful.
        </p>
      </div>
      <div class="slider__slide">
        <h2 class="slider__title">Commerce Centre</h2>
        <p class="slider__text">
          Successful businesses have many things in common, today we’ll look at
          the big ‘R’ of recognition and how a digital advertising network may
          help.
        </p>
      </div>
      <div class="slider__slide">
        <h2 class="slider__title">Hypnotize Yourself Into The Ghost</h2>
        <p class="slider__text">
          There are many things that are important to catalog design....
        </p>
      </div>
      <div class="slider__slide">
        <h2 class="slider__title">
          See The Unmatched Beauty Of The Great. Lakes
        </h2>
        <p class="slider__text">
          Free directories: directories are perfect for customers that are...
          searching for a particular topic
        </p>
      </div>

      <ul class="slider__list">
        <li class="slider__btn slider__btn-active"></li>
        <li class="slider__btn"></li>
        <li class="slider__btn"></li>
        <li class="slider__btn"></li>
        <li class="slider__btn"></li>
      </ul>
    </div>

    <a class="header__scroll" href="#section-projects">
      <span class="header__scroll-span">&#60;</span>
    </a>
  </div>
</header>
