<section id="news" class="section-news">
  <div class="section-news__background">
    <h2 class="section-news__title">latest news</h2>

    <div class="section-news__slider slider-news">
      <ul class="slider-news__list">
        <li class="slider-news__item"></li>
        <li class="slider-news__item"></li>
        <li class="slider-news__item"></li>
        <li class="slider-news__item"></li>
        <li class="slider-news__item"></li>
      </ul>

      <ul class="slider-news__list-btn slider__list">
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
      </ul>
    </div>
  </div>
</section>
