<section id="news" class="section-news">
  <div class="section-news__background">
    <h2 class="section-news__title">latest news</h2>

    <div class="section-news__slider slider-news">
      <ul class="slider-news__list">
        <li class="slider-news__item slider-news__item-noactive">
          <div class="slider-news__img-wrapper">
            <img src="images/news-img-3.png" alt="" class="slider-news__img" />
            <h3 class="slider-news__title">
              Hypnotize Yourself Into The Ghost.
            </h3>
            <p class="slider-news__text">
              There are many things that are important to catalog design..
            </p>
            <div class="slider-news__img-inner">
              <img
                src="images/userpic-3.png"
                alt=""
                class="slider-news__userpic"
              />
              <h4 class="slider-news__subtitle">Alice Ward</h4>
              <span class="slider-news__data">30 Dec 2017</span>
            </div>
          </div>
        </li>
        <li class="slider-news__item slider-news__item-noactive">
          <div class="slider-news__img-wrapper">
            <img src="images/news-img-1.png" alt="" class="slider-news__img" />
            <h3 class="slider-news__title">
              See The Unmatched Beauty Of The Great.
            </h3>
            <p class="slider-news__text">
              Free directories: directories are perfect for customers that
              are...
            </p>
            <div class="slider-news__img-inner">
              <img
                src="images/userpic-1.png"
                alt=""
                class="slider-news__userpic"
              />
              <h4 class="slider-news__subtitle">Isaac Dunn</h4>
              <span class="slider-news__data">09 Feb 2017</span>
            </div>
          </div>
        </li>
        <li class="slider-news__item">
          <div class="slider-news__img-wrapper">
            <img src="images/news-img-2.png" alt="" class="slider-news__img" />
            <h3 class="slider-news__title">Effective Advertising Pointers.</h3>
            <p class="slider-news__text">
              Having a home based business is a wonderful asset to your life...
            </p>
            <div class="slider-news__img-inner">
              <img
                src="images/userpic-2.png"
                alt=""
                class="slider-news__userpic"
              />
              <h4 class="slider-news__subtitle">Dominic Freeman</h4>
              <span class="slider-news__data">24 Apr 2017</span>
            </div>
          </div>
        </li>
        <li class="slider-news__item slider-news__item-noactive">
          <div class="slider-news__img-wrapper">
            <img src="images/news-img-3.png" alt="" class="slider-news__img" />
            <h3 class="slider-news__title">
              Hypnotize Yourself Into The Ghost.
            </h3>
            <p class="slider-news__text">
              There are many things that are important to catalog design..
            </p>
            <div class="slider-news__img-inner">
              <img
                src="images/userpic-3.png"
                alt=""
                class="slider-news__userpic"
              />
              <h4 class="slider-news__subtitle">Alice Ward</h4>
              <span class="slider-news__data">30 Dec 2017</span>
            </div>
          </div>
        </li>
        <li class="slider-news__item slider-news__item-noactive">
          <div class="slider-news__img-wrapper">
            <img src="images/news-img-2.png" alt="" class="slider-news__img" />
            <h3 class="slider-news__title">Effective Advertising Pointers.</h3>
            <p class="slider-news__text">
              Having a home based business is a wonderful asset to your life...
            </p>
            <div class="slider-news__img-inner">
              <img
                src="images/userpic-2.png"
                alt=""
                class="slider-news__userpic"
              />
              <h4 class="slider-news__subtitle">Dominic Freeman</h4>
              <span class="slider-news__data">24 Apr 2017</span>
            </div>
          </div>
        </li>
      </ul>

      <ul class="slider-news__list-btn slider__list">
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
        <li class="slider-news__btn slider__btn"></li>
      </ul>

      <div class="slider-news__btn-prev slider-news-btn">
        <span class="slider-news__prev-content slider-news-btn">&#60;</span>
      </div>

      <div class="slider-news__btn-next slider-news-btn">
        <span class="slider-news__next-content slider-news-btn">&#60;</span>
      </div>
    </div>
  </div>
</section>
