<section id="section-projects" class="section-projects">
  <div class="section-projects-top">
    <div class="section-projects__bg-box"></div>
    <div class="section-projects__container container">
      <h2 class="section-projects__tltle">what we do</h2>

      <div class="section-projects__content-top">
        <div class="section-projects__img-wrapper">
          <img
            class="section-projects__img"
            src="images/project-img.png"
            alt=""
          />
        </div>

        <div class="section-projects__info-top">
          <h3 class="section-projects__subtitle">One World</h3>
          <h2 class="section-projects__info-tltle">Trade Center</h2>
          <p class="section-projects__text">
            Increasing prosperity in our lives can be accomplished by having the
            right frame of mind. The truth is, our thoughts are very powerful.
          </p>
          <a href="#/" class="section-projects__btn button">more details</a>
          <a href="" class="section-projects__navigation"
            >New York City, United States - 1776 feet</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="section-projects-bottom">
    <div class="section-projects__bg-box-bottom"></div>
    <div class="section-projects__container container">
      <div class="section-projects__content-bottom">
        <div class="section-projects__img-wrapper-bottom">
          <img
            class="section-projects__img"
            src="images/project-img-2.png"
            alt=""
          />
        </div>

        <div class="section-projects__info-bottom">
          <h3 class="section-projects__subtitle">International</h3>
          <h2 class="section-projects__info-tltle">Commerce Centre</h2>
          <p class="section-projects__text">
            Successful businesses have many things in common, today we’ll look
            at the big ‘R’ of recognition and how a digital advertising network
            may help.
          </p>
          <a href="#/" class="section-projects__btn button">more details</a>
          <a href="" class="section-projects__navigation"
            >Hong Kong - 1588 Feet</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
