.header {
  height: 100vh;
  background-image: url(../images/header-bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &__background {
    height: 100vh;
    background-image: url(../images/header-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include flex(center, center, column);
  }
  &__scroll {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    border: 1px solid $white;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: linear;
    scroll-behavior: smooth;
    @keyframes bounce-1 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0);
      }
    }
    &:hover {
      border-radius: 20%;
      border: 1px solid $hover;
    }
    &-span {
      text-align: center;
      transform: rotate(-90deg);
      display: block;
      width: 19px;
      height: 100%;
      color: $white;
    }
  }
}
