.section-projects {
  margin-bottom: 140px;
  padding-top: 140px;
  position: relative;

  &-top {
    margin-bottom: 140px;
  }
  &__bg-box {
    background-color: $bg-box;
    width: 0;
    height: 0px;
    position: absolute;
    top: 275px;
    z-index: -1;
    @media screen and (min-width: $screen-desktop) {
      width: 585px;
      height: 470px;
    }
  }
  &-bottom {
    padding-top: 70px;
    position: relative;
  }
  &__bg-box-bottom {
    background-color: $bg-box-2;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @media screen and (min-width: $screen-desktop) {
      width: 585px;
      height: 470px;
    }
  }
  &__tltle {
    text-align: center;
    @include text($H700, 400, $text-title);
    font-family: $font-bold;
    text-transform: uppercase;
    margin-bottom: 170px;
  }
  &__content-top {
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      @include flex(space-between, center, row);
    }
  }
  &__content-bottom {
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      @include flex(space-between, center, row-reverse);
    }
  }
  &__img-wrapper {
    margin-right: 0;
    margin-bottom: 50px;
    @media screen and (min-width: $screen-desktop) {
      margin-right: 65px;
      margin-bottom: 0;
      width: auto;
    }
  }
  &__img-wrapper-bottom {
    @include flex(center, center, column);
    width: 100%;
    margin-bottom: 50px;
    @media screen and (min-width: $screen-desktop) {
      @include flex(center, flex-start, column);
      width: 50%;
      margin-bottom: 0;
    }
  }
  &__img {
    width: 300px;
    @media screen and (min-width: $screen-tablet) {
      width: auto;
    }
  }
  &__info-top {
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      @include flex(center, flex-start, column);
    }
  }
  &__info-bottom {
    @include flex(center, center, column);

    @media screen and (min-width: $screen-desktop) {
      @include flex(center, flex-start, column);
      margin-right: 70px;
    }
  }
  &__subtitle {
    @include text($H400, 700, $text-title);
    font-family: $font-book;
    margin-bottom: 15px;
  }
  &__info-tltle {
    @include text($H500, 400, $text-title);
    font-family: $font-bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-tablet) {
      @include text($H700, 400, $text-title);
    }
  }
  &__text {
    text-align: center;
    @include text($H200, 400, $text-main);
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    @media screen and (min-width: $screen-desktop) {
      text-align: left;
    }
  }
  &__navigation {
    @include text($H200, 400, $text-main);
    font-family: "Open Sans", sans-serif;
    font-style: italic;
  }
  &__btn {
    margin-bottom: 55px;
  }
}
